* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

main {
  background-image: url(../img/ladrillos.jpg);
}

/* MOBILE STYLES */
@media only screen and (max-width: 451px) {
  /*     .loader{
          position: absolute !important;
          top: 40% !important;
          left: 45% !important;
          background-color: black !important;
      } */
  .imagen-flecha-neon {
    display: none !important;
  }

  .img-mobile {
    height: 160px;
    display: block;
    margin: auto;
    filter: drop-shadow(0 0 0.5rem white);
  }

  .img-il-mobile {
    height: 230px;
    display: block;
    margin: auto;
    filter: drop-shadow(0 0 0.5rem #fdfdfd);
  }

  .titulo-trabajos {
    font-size: 35px;
    text-align: center;
  }

  .parrafo-trabajos {
    font-size: 12px;
    text-align: justify;
  }

  .programas-img {
    height: 30px;
  }

  .container-programas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo-trabajos {
    display: none !important;
  }

  .btn {
    display: block !important;
    margin: auto !important;
  }

  .img-how-mobile {
    height: 85px;
    filter: drop-shadow(0 0 0.5rem #fdfdfd);
  }

  .mobile-container {
    display: none;
  }

  .card-desktop {
    display: none;
  }

  /* AGENCIA */
  .lemur-gif {
    height: 300px;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* TABLET STYLES */
@media only screen and (min-width: 452px) and (max-width: 1024px) {
  .img-mobile {
    display: none;
  }

  .img-il-mobile {
    display: none;
  }

  .parrafo-trabajos {
    font-size: 15px;
  }

  .imagen-flecha-neon {
    display: none;
  }

  .img-ipad {
    height: 245px;
    filter: drop-shadow(0 0 0.5rem #fdfdfd);
    display: block;
    margin: auto;
  }

  .img-how-ipad {
    height: 90px;
    filter: drop-shadow(0 0 0.5rem #fdfdfd);
  }

  .img-il-ipad {
    height: 360px;
    position: relative;
    right: 35px;
    top: 15px;
    filter: drop-shadow(0 0 0.5rem #fdfdfd);
  }

  .btn {
    display: block !important;
    margin: auto !important;
  }

  .img-how-mobile {
    display: none;
  }

  .card-desktop {
    display: none;
  }
}
/* DESKTOP STYLES */
@media only screen and (min-width: 1025px) and (max-width: 2400px) {
  .img-mobile {
    display: none;
  }

  .img-il-mobile {
    display: none;
  }

  .img-how-mobile {
    display: none;
  }

  .img-picatitas {
    display: block;
    margin: auto;
  }

  .flecha-neon {
    float: right !important;
  }

  .card-mobile {
    display: none;
  }
}
.margin-150 {
  margin-top: 150px !important;
}

h1 {
  font-family: "Monoton", cursive;
  color: #FF8B00;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #FF8B00, 0 0 82px #FF8B00, 0 0 92px #FF8B00, 0 0 102px #FF8B00, 0 0 151px #FF8B00;
  padding: 10px;
  font-size: 110px;
  animation: flicker 1.5s infinite alternate;
  /* Flickering animation */
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #FF8B00, 0 0 80px #FF8B00, 0 0 90px #FF8B00, 0 0 100px #FF8B00, 0 0 150px #FF8B00;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

.titulo-inter {
  font-family: "Nunito", sans-serif !important;
  font-weight: bold !important;
  color: black;
  font-size: 60px !important;
}

.parrafo-inter {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 18px !important;
}

.titulo-cioccolato {
  font-family: "Nunito", sans-serif !important;
  font-weight: bold !important;
  color: #FF8B00;
  font-size: 60px !important;
}

.parrafo-cioccolato {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 18px !important;
}

.titulo-picadas {
  font-family: "Nunito", sans-serif !important;
  font-weight: bold !important;
  color: #FF8B00;
  font-size: 60px !important;
}

.parrafo-picadas {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 18px !important;
}

/* MOBILE STYLES */
@media only screen and (max-width: 451px) {
  h1 {
    font-family: "Monoton", cursive;
    color: #FF8B00;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #FF8B00, 0 0 82px #FF8B00, 0 0 92px #FF8B00, 0 0 102px #FF8B00, 0 0 151px #FF8B00;
    padding: 10px;
    font-size: 50px;
    animation: flicker 1.5s infinite alternate;
    /* Flickering animation */
  }
  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #FF8B00, 0 0 80px #FF8B00, 0 0 90px #FF8B00, 0 0 100px #FF8B00, 0 0 150px #FF8B00;
    }
    20%, 24%, 55% {
      text-shadow: none;
    }
  }

  .titulo-inter {
    font-family: "Nunito", sans-serif !important;
    font-weight: bold !important;
    color: black;
    font-size: 40px !important;
  }

  .parrafo-inter {
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 12px !important;
  }

  .titulo-cioccolato {
    font-family: "Nunito", sans-serif !important;
    font-weight: bold !important;
    color: #FF8B00;
    font-size: 40px !important;
  }

  .parrafo-cioccolato {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 12px !important;
  }

  .titulo-picadas {
    font-family: "Nunito", sans-serif !important;
    font-weight: bold !important;
    color: #FF8B00;
    font-size: 40px !important;
  }

  .parrafo-picadas {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 12px !important;
  }
}
/* BentonSans Medium */
@font-face {
  font-family: "Neon";
  src: url(../fonts/NEONLEDLight.ttf) format("woff");
}
/* BOTON MDR */
.boton-modal {
  background-color: transparent !important;
  border: solid 2px;
  border: solid 3px #A738D5;
  box-shadow: 0 0 5px 1px #fff, 0 0 10px 5px #A738D5, 0 0 15px 8px #A738D5;
  /* outer cyan */
  font-family: "Nunito";
  color: #01A0B6;
  text-shadow: 0 0 7px #fff, 0 0 20px #fff, 0 0 42px #01A0B6, 0 0 82px #01A0B6, 0 0 92px #01A0B6, 0 0 102px #01A0B6, 0 0 151px #01A0B6;
}

.boton-modal:hover {
  border: solid 3px #A738D5;
  box-shadow: 0 0 10px 3px #fff, 0 0 20px 10px #A738D5, 0 0 30px 17px #A738D5;
  /* outer cyan */
  color: #01A0B6;
  text-shadow: 0 0 7px #fff, 0 0 20px #fff, 0 0 42px #01A0B6, 0 0 82px #01A0B6, 0 0 92px #01A0B6, 0 0 102px #01A0B6, 0 0 151px #01A0B6;
}

/* BOTON URI */
.boton-inicio-nuevo {
  background-color: transparent !important;
  font-size: 25px;
  font-family: "Nunito";
  box-shadow: 0 0 5px 1px #fff, 0 0 7px 3px #A738D5, 0 0 10px 5px #A738D5;
  /* outer cyan */
}

.boton-inicio-nuevo a {
  color: #A738D5 !important;
}

.boton-inicio-nuevo:hover {
  color: #01A0B6 !important;
  border: solid 3px #A738D5;
  box-shadow: 0 0 8px 3px #fff, 0 0 15px 7px #A738D5, 0 0 20px 10px #A738D5;
  /* outer cyan */
  text-shadow: 0 0 7px #fff, 0 0 20px #fff, 0 0 42px #01A0B6;
}

header {
  background-image: url(../img/ladrillos.jpg);
  margin-bottom: 150px;
  /*     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* MOBILE STYLES */
@media only screen and (max-width: 451px) {
  .logo-lemur {
    height: 300px;
    margin-top: 150px;
  }
}
/* TABLET STYLES */
@media only screen and (min-width: 452px) and (max-width: 1023px) {
  .logo-lemur {
    margin-top: 100px;
  }
}
/* INDEX */
.navegacion {
  margin-top: 150px;
}

.nav-agencia {
  margin-top: 70px;
}

.cartel-i {
  color: #A738D5 !important;
  border: solid #A738D5 2px;
  padding: 20px;
  margin: 0 25px 25px 25px;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px #fff, 0 0 10px 5px #A738D5, 0 0 15px 8px #A738D5;
}

.cartel-i:hover {
  background-color: transparent !important;
  border: solid 3px #A738D5;
  box-shadow: 0 0 10px 3px #fff, 0 0 20px 10px #A738D5, 0 0 30px 17px #A738D5;
  color: #01A0B6 !important;
  text-shadow: 0 0 15px #fff, 0 0 29px #fff, 0 0 32px #01A0B6, 0 0 52px #01A0B6;
}

.menu-index {
  font-family: "Nunito";
  font-size: 40px;
  text-shadow: 0 0 22px #A738D5, 0 0 32px #A738D5;
}

.cartel-volver {
  color: #A738D5 !important;
  border: solid #A738D5 2px;
  padding: 20px;
  margin: 0 10px 0 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px #fff, 0 0 10px 5px #A738D5, 0 0 15px 8px #A738D5;
}

.cartel-volver:hover {
  border: solid 3px #A738D5;
  box-shadow: 0 0 10px 3px #fff, 0 0 20px 10px #A738D5, 0 0 30px 17px #A738D5;
  color: #01A0B6 !important;
  text-shadow: 0 0 7px #fff, 0 0 20px #fff, 0 0 42px #01A0B6, 0 0 82px #01A0B6, 0 0 92px #01A0B6, 0 0 102px #01A0B6, 0 0 151px #01A0B6;
}

.card-nosotros {
  border: solid 2px #FF8B00;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px 1px #fff, 0 0 10px 5px #FF8B00, 0 0 15px 8px #FF8B00;
  /* outer cyan */
  margin-bottom: 100px;
}

/* MOBILE STYLES */
@media only screen and (max-width: 451px) {
  .cartel-info {
    height: 200px;
  }

  .bienvenidos-mobile {
    font-size: 40px;
  }

  .menu-index {
    font-size: 25px;
  }

  .cartel-i {
    width: 60% !important;
    text-align: center !important;
    margin: 0 auto 0 auto;
  }

  .cartel-volver {
    font-size: 30px !important;
    width: 100% !important;
    text-align: center !important;
    margin: 0 auto 0 auto;
  }
}
@media only screen and (min-width: 452px) and (max-width: 1024px) {
  .bienvenidos-mobile {
    font-size: 100px;
  }

  .menu-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }

  .cartel-i {
    margin: 25px 25px 25px 25px !important;
  }
}
.texto-aboutus {
  text-align: justify;
}

.card-agencia {
  background-color: transparent !important;
  border: solid 5px #E04E0B !important;
  box-shadow: 0 0 5px 1px #fff, 0 0 10px 5px #E04E0B, 0 0 15px 8px #E04E0B;
}

.img-agencia {
  border-bottom: solid 5px #E04E0B !important;
}

.linea-agencia {
  background-color: #E04E0B;
  border: solid 5px #E04E0B !important;
  box-shadow: 0 0 5px 1px #fff, 0 0 10px 5px #E04E0B, 0 0 15px 8px #E04E0B;
}

.titulo-card-agencia {
  color: white !important;
  text-shadow: 0 0 7px #01A0B6, 0 0 10px #01A0B6, 0 0 22px #01A0B6;
}

.redes {
  position: sticky !important;
  bottom: 50% !important;
}

.colorIg {
  color: #A738D5 !important;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #A738D5, 0 0 82px #A738D5, 0 0 92px #A738D5, 0 0 102px #A738D5, 0 0 151px #A738D5;
}
.colorIg a {
  text-decoration: none !important;
  color: #A738D5;
}
.colorIg a:hover {
  color: #A738D5 !important;
}

.colorGh {
  color: #01A0B6 !important;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #01A0B6, 0 0 82px #01A0B6, 0 0 92px #01A0B6, 0 0 102px #01A0B6, 0 0 151px #01A0B6;
}
.colorGh a {
  text-decoration: none !important;
  color: #01A0B6;
}
.colorGh a:hover {
  color: #01A0B6 !important;
}

.colorLi {
  color: #FF8B00 !important;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #FF8B00, 0 0 82px #FF8B00, 0 0 92px #FF8B00, 0 0 102px #FF8B00, 0 0 151px #FF8B00;
}
.colorLi a {
  text-decoration: none !important;
  color: #FF8B00;
}
.colorLi a:hover {
  color: #FF8B00 !important;
}

.pilares {
  padding: 200px;
}
.pilares .retro-1 {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #FF8B00, 0 0 82px #FF8B00, 0 0 92px #FF8B00, 0 0 102px #FF8B00, 0 0 151px #FF8B00;
}

.section-2 {
  background-color: #363636;
}

.section-3 {
  background-color: #000;
}

/* MOBILE STYLES */
@media only screen and (max-width: 768px) {
  .redes {
    position: sticky !important;
    bottom: 95% !important;
    justify-content: center;
  }
}
.modal-body {
  color: #01A0B6 !important;
  background-image: url(../img/imagen-fondo-violeta.jpg) !important;
  /*     border-right: solid 5px #FF8B00;
  border-left: solid 5px #FF8B00; */
  box-shadow: 0 0 5px 1px #fff, 0 0 10px 5px #A738D5, 0 0 15px 8px #A738D5;
  /* outer cyan */
}

.titulo-modal {
  font-size: 25px;
  font-family: "Nunito", sans-serif;
}

.boton-close-modal {
  background-color: transparent !important;
  border: solid 2px;
  border: solid 3px #A738D5;
  box-shadow: 0 0 5px 1px #fff, 0 0 10px 5px #A738D5, 0 0 15px 8px #A738D5;
  /* outer cyan */
  font-family: "Nunito";
  color: #01A0B6;
  text-shadow: 0 0 7px #fff, 0 0 20px #fff, 0 0 42px #01A0B6, 0 0 82px #01A0B6, 0 0 92px #01A0B6, 0 0 102px #01A0B6, 0 0 151px #01A0B6;
  float: right !important;
}

.boton-close-modal:hover {
  border: solid 3px #A738D5;
  box-shadow: 0 0 10px 3px #fff, 0 0 20px 10px #A738D5, 0 0 30px 17px #A738D5;
  /* outer cyan */
  color: #01A0B6;
  text-shadow: 0 0 7px #fff, 0 0 20px #fff, 0 0 42px #01A0B6, 0 0 82px #01A0B6, 0 0 92px #01A0B6, 0 0 102px #01A0B6, 0 0 151px #01A0B6;
}

.i-contacto {
  font-size: 25px;
  margin-right: 15px;
}

.text-contacto {
  font-family: "Nunito";
  font-size: 16px;
  color: #01A0B6;
}

.seccion-contacto-form {
  border: solid #A738D5 3px;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px #fff, 0 0 10px 5px #A738D5, 0 0 15px 8px #A738D5;
}

.input-contacto {
  background-color: transparent !important;
  color: #01A0B6 !important;
}

.input-contacto::placeholder {
  color: #01A0B6 !important;
}

.opciones-box-input {
  background-color: black !important;
  color: #01A0B6 !important;
}

.boton-contacto {
  display: block !important;
  margin: auto !important;
  font-size: 20px !important;
}

.far {
  font-size: 45px;
  color: #A738D5 !important;
}

.far:active {
  color: #01A0B6 !important;
  text-shadow: 0 0 7px #fff, 0 0 20px #fff, 0 0 42px #01A0B6, 0 0 82px #01A0B6, 0 0 92px #01A0B6, 0 0 102px #01A0B6, 0 0 151px #01A0B6;
}

@media only screen and (max-width: 451px) {
  .contacto {
    width: 80% !important;
  }

  .i-contacto {
    font-size: 19px;
    margin-right: 8px;
  }

  .text-contacto {
    font-family: "Nunito";
    font-size: 13px;
    color: #01A0B6;
  }

  .seccion-contacto-form {
    border: solid #A738D5 8px;
  }
}
@media only screen and (min-width: 452px) and (max-width: 1024px) {
  .titulo-agencia {
    font-size: 25px;
  }

  .i-contacto {
    font-size: 18px;
    margin-right: 8px;
  }

  .text-contacto {
    font-family: "Nunito";
    font-size: 12px;
    color: #01A0B6;
  }
}
.loader {
  position: absolute !important;
  top: 40% !important;
  left: 45% !important;
  background-color: black !important;
}

@media only screen and (max-width: 451px) {
  .loader {
    position: static !important;
    margin: 50% auto 50% auto;
    background-color: black !important;
  }
}
h2 {
  font-family: "Nunito";
  font-size: 40px;
  color: #A738D5;
  text-shadow: 0 0 42px #A738D5, 0 0 82px #A738D5, 0 0 92px #A738D5, 0 0 102px #A738D5, 0 0 151px #A738D5;
}

p {
  font-family: "Nunito";
  font-size: 16px;
  color: #01A0B6;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
  margin-left: -30px;
}

/*# sourceMappingURL=style.css.map */
