* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-image: url(../img/ladrillos.jpg);
}

@import "./base/colours.scss";
@import "./base/extend";
@import "./base/mixin";
@import "./base/fonts";
@import "./components/header";
@import "./components/carteles";
@import "./components/redes";