* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import "./base/colours.scss";
@import "./components/header";
@import "./base/extend";
@import "./base/mixin";

.redes {
    position: sticky !important;
    bottom: 50% !important;
}

a {
    text-decoration: none !important;
    color: $naranja;

    &:hover {
        color: $naranja !important;
    }
}

.section-2 {
    background-color: $gris;
}

.section-3 {
    background-color: #000;
}

/* MOBILE STYLES */
@media only screen and (max-width: 451px) {
    .redes {
        position: sticky !important;
        bottom: 0% !important;
        justify-content: center;
    }
}