.loader{
    position: absolute !important;
    top: 40% !important;
    left: 45% !important;
    background-color: black !important;
}

@media only screen and (max-width: 451px){
    .loader{
        position:static !important;
        margin: 50% auto 50% auto;
        background-color: black !important;
    }
}