//------------------------INFO TRABAJOS----------------
/* MOBILE STYLES */
@media only screen and (max-width: 451px) {
    .imagen-flecha-neon {
        display: none !important;
    }

    .img-mobile {
        height: 160px;
        display: block;
        margin: auto;
        filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
    }

    .img-il-mobile {
        height: 230px;
        display: block;
        margin: auto;
        filter: drop-shadow(0 0 0.5rem rgb(253, 253, 253));
    }

    .titulo-trabajos {
        font-size: 35px;
        text-align: center;
    }

    .parrafo-trabajos {
        font-size: 12px;
        text-align: justify;
    }

    .programas-img {
        height: 30px;
    }

    .container-programas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .logo-trabajos {
        display: none !important;
    }

    .btn {
        display: block !important;
        margin: auto !important;
    }

    .img-how-mobile {
        height: 85px;
        filter: drop-shadow(0 0 0.5rem rgb(253, 253, 253));
    }

    .mobile-container {
        display: none;
    }
}

/* TABLET STYLES */
@media only screen and (min-width: 452px) and (max-width: 1024px) {
    .img-mobile {
        display: none;
    }

    .img-il-mobile {
        display: none;
    }

    .parrafo-trabajos {
        font-size: 15px;
    }

    .imagen-flecha-neon {
        display: none;
    }

    .img-ipad {
        height: 245px;
        filter: drop-shadow(0 0 0.5rem rgb(253, 253, 253));
        display: block;
        margin: auto;
    }

    .img-how-ipad {
        height: 90px;
        filter: drop-shadow(0 0 0.5rem rgb(253, 253, 253));
    }

    .img-il-ipad {
        height: 360px;
        position: relative;
        right: 35px;
        top: 15px;
        filter: drop-shadow(0 0 0.5rem rgb(253, 253, 253));
    }

    .btn {
        display: block !important;
        margin: auto !important;
    }

    .img-how-mobile {
        display: none;
    }
}

/* DESKTOP STYLES */
@media only screen and (min-width: 1025px) and (max-width: 2400px) {
    .img-mobile {
        display: none;
    }

    .img-il-mobile {
        display: none;
    }

    .img-how-mobile {
        display: none;
    }

    .img-picatitas {
        display: block;
        margin: auto;
    }

    .flecha-neon {
        float: right !important;
    }
}